{% extends 'base.html.twig' %}

{% block title %}{{ article.Title }}{% endblock %}

{% block body %}
<div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ article.Title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{ article.CreatedAt |date('d-m-Y')}} 
                                 by <a href="{{ path('userpage', {id: article.author.id, username: article.author.username})}}">{{article.author.username}}</a> 
                            </div>
                            <!-- Post categories-->
                            {% if (app.user.username == article.author.username) %}
                                <a class="badge bg-secondary text-decoration-none link-light" href="{{ path('editArticle', {id: article.id}) }}">Edit Article</a>
                            {% endif %}{#<a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> #}
                        </header>
                        <!-- Preview image figure-->
                        {# <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> #}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ article.Content }}</p>
                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TOP z  Big Data -->
                    <div class="card mb-4">
                        <div class="card-header">Najpopularniejsze na świecie</div>
                        <div class="card-body">Tu będzie lista najpopularniejszych tweetów</div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}