{% extends 'base.html.twig' %}

{% block title %}App:blog:entries{% endblock %}

{% block body %}

<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <h1 class="h2 mb-4">Edit your article</h1>
      <div class="form-group">
        {{ form_start(articleForm) }}</br>
        {{ form_widget(articleForm.title) }}</br>
        {{ form_widget(articleForm.content) }}</br>
        <div class="form-group">
          {{ form_label(articleForm.mainImagePath) }}
          {{ form_widget(articleForm.mainImagePath) }}
          {{ form_errors(articleForm.mainImagePath) }}
        </div>
        {# <button type="submit" class="btn btn-primary">Add Article</button> #}
        {{ form_end(articleForm) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}