{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}

{% block body %}

    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">

    <h3>Join us!</h3>
    <div class="inputBox">
    {{ form_start(registrationForm) }}
    {# <label text-color: "white"> #}
        {{ form_widget(registrationForm.email) }}
    {# </label> #}
    {# <label>     #}
        {{ form_widget(registrationForm.username) }}
    {# </label>
    <label>     #}
        {{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {# </label> #}
    {# {{ form_widget(registrationForm.coach) }} #}
        {{ form_widget(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    

    {# <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign in here</h3>
    <form action="login.php" method="post">
        <div class="inputBox"> 
            <input id="uname" type="text" name="Username" placeholder="Username"> 
            <input id="pass" type="password" name="Password" placeholder="Password"> 
        </div> 
        <input type="submit" name="" value="Login">
    </form> <a href="#">Forget Password<br> </a>
    <div class="text-center">
        <p style="color: #1f7d13;">Sign-Up</p>
    </div>
</div> #}
{% endblock %}
